@model Thayloilocnuoc.Models.tblConfig

@{
    ViewBag.Title = "Config Systen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

 
<script type="text/javascript">
    $(function () {
        $("#SelectFavicon").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Favicon").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#SelectImages").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#ImageLinkLogo").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>

<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Footer');
    });

</script>
@Html.Raw(ViewBag.Config)
@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true)
   <div class="Nvar_Content_Detail">
        <div class="Left_Nvar">
            <img src="/Content/Admin/Icon/folder.png" alt="Danh mục sản phẩm" />Config System
        </div>

    </div>
    <div class="Content_Content_Detail">
         
        <div class="tr_1">
            <div class="left_tr1">
                <span>Title :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Title, new { @class = "Leght_2" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Description :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextAreaFor(p=>p.Description, new { @class = "Leght_6" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Keyword :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextAreaFor(p=>p.Keywords, new { @class = "Leght_6" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Company Name :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Name, new { @class = "Leght_2" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Address :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Address, new { @class = "Leght_2" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Mobile IN:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.MobileIN, new { @class = "Leght_4" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Hotline IN:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.HotlineIN, new { @class = "Leght_4" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Mobile TPHCM:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p => p.MobileOUT, new { @class = "Leght_4" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Hotline OUT :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p => p.HotlineOUT, new { @class = "Leght_4" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Email:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Email, new { @class = "Leght_2" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Logo:</span>
            </div>
            <div class="Right_tr1">
               @Html.TextBoxFor(p => p.ImageLinkLogo, new { @class="Leght_3"})&nbsp;<input id="SelectImages" type="button" value="Browser" />
               
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Favicon:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p => p.Favicon, new { @class = "Leght_3" })&nbsp;<input id="SelectFavicon" type="button" value="Browser" />

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Footter :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextAreaFor(p=>p.Footer, new { @class = "Leght_6" })

            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Slogan :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Slogan, new { @class = "Leght_3" })
              
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>UserEmail Send :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.UserEmail, new { @class = "Leght_4" })
              
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>PassEmail Send :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.PassEmail, new { @class = "Leght_4",@type="password" })
              
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Authorship :</span>
            </div>
            <div class="Right_tr1">
             
                  @Html.TextAreaFor(p=>p.Authorship, new { @class = "Leght_4" })
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>DMCA :</span>
            </div>
            <div class="Right_tr1">

                @Html.TextAreaFor(p => p.DMCA, new { @class = "Leght_4", @placeholder = "Nhập mã id tài khoản DMCA" })
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>FanpageFacebook :</span>
            </div>
            <div class="Right_tr1">

                @Html.TextAreaFor(p => p.FanpageFacebook, new { @class = "Leght_4", @placeholder = "Nhập đường dẫn Fanpage facebook website" })
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>FanpageGoogle+
                 :</span>
            </div>
            <div class="Right_tr1">

                @Html.TextAreaFor(p => p.FanpageGoogle, new { @class = "Leght_4", @placeholder = "Nhập đường dẫn tài khoản G+ website" })
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>FanpageYoutube :</span>
            </div>
            <div class="Right_tr1">

                @Html.TextAreaFor(p => p.FanpageYoutube, new { @class = "Leght_4", @placeholder = "Nhập đường dẫn kênh Youtube cho website" })
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Host:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Host, new { @class = "Leght_5" })
              
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Port:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Port, new { @class = "Leght_5" })
              
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Timeout:</span>
            </div>
            <div class="Right_tr1">
                @Html.TextBoxFor(p=>p.Timeout, new { @class = "Leght_5"  })
              
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Code Chát :</span>
            </div>
            <div class="Right_tr1">
                @Html.TextAreaFor(p => p.Code, new { @class = "Leght_4", @placeholder = "Nhập đường code Chát" })
            </div>
        </div>
            <div class="tr_1">
            <div class="left_tr1">
                <span>Coppy :</span>
            </div>
            <div class="Right_tr1">
                    @{ bool Coppy = ((Model.Coppy == null) || (Model.Coppy == false)) ? false : true; }
                    @Html.CheckBoxFor(p=>Coppy)
                  
            </div>
        </div>
          <div class="tr_1">
            <div class="left_tr1">
                <span>Social :</span>
            </div>
            <div class="Right_tr1">
                    @{ bool Social = ((Model.Social == null) || (Model.Social == false)) ? false : true; }
                    @Html.CheckBoxFor(p=>Social)
                  
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>Popup :</span>
            </div>
            <div class="Right_tr1">
                    @{ bool Popup = ((Model.Popup == null) || (Model.Popup == false)) ? false : true; }
                    @Html.CheckBoxFor(p=>Popup)
                  
            </div>
        </div>
        <div class="tr_1">
            <div class="left_tr1">
                <span>PopupSupport :</span>
            </div>
            <div class="Right_tr1">
                    @{ bool PopupSupport = ((Model.PopupSupport == null) || (Model.PopupSupport == false)) ? false : true; }
                    @Html.CheckBoxFor(p=>PopupSupport)
                  
            </div>
        </div>
         
        <div class="tr_1">
            <div class="left_tr1">
            </div>
            <div class="Right_tr1">
                <button type="submit" id="btnAdd" name="btnAdd" class="btnAdd">Save</button>
                <button type="button" id="btnCanse" name="btnCanse" class="btnCanse">Cancel</button>
            </div>
        </div>
    </div>
}
