@model Thayloilocnuoc.Models.tblProduct

@{
    ViewBag.Title = "Edit ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
    <div id="InsertPoduct">
        <div class="Nvar_Content_Detail">
            <div class="Left_Nvar">
                <img src="/Content/Admin/Icon/folder.png" alt="Danh mục sản phẩm" />Edit Product
            </div>
            <div class="Right_Nvar">
                <div id="msg" class="msg">
                    <div class="alert alert-info" id="update-message">
                    </div>
                </div>
            </div>
        </div>
        <div class="Content_Content_Detail">
            <div class="tr_1">
                <div class="left_tr1" id="Test">
                    <span>GroupProduct :</span>
                </div>
                <div class="Right_tr1">
                    @Html.DropDownList("drMenu", "===== Select Group Product=====") 

                </div>
            </div>
            <div class="tr_1"  >
                <div class="left_tr1" id="Test">
                    <span>Manufactures :</span>
                </div>
                <div class="Right_tr1">
                    @Html.Raw(ViewBag.chuoithu)

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Name :</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Name, null, new { @class = "Leght_2" }) <span class="Aler_ttxtName" style="color: #F00"></span>
                    @*@{ bool URL = true ? false : true; }
                    @Html.CheckBoxFor(p => URL)*@
                    <input type="checkbox" name="URL" id="URL"   /> : Rename URL
                     @Html.TextBoxFor(p => p.Tag, null, new {   @Name = "NameURL", @style = " opacity:0" })
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Code :</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Code, null, new { @class = "Leght_5" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Description:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextAreaFor(p => p.Description, new { @class = "Leght_6" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1">
                    <span>Thông tin cơ bản:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextAreaFor(p => p.Info, new { @class = "Leght_6" })

                </div>
            </div>
            <div class="tr_1" >
                <div class="left_tr1">
                    <span>Content:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextAreaFor(p => p.Content, new { @class = "Leght_6", @style = "height:550px" })

                </div>
            </div>
             <div class="tr_1">
                <div class="left_tr1">
                    <span>Parameter:</span>
                </div>
                <div class="Right_tr1">
                    @Html.TextAreaFor(p => p.Parameter, new { @class = "Leght_6" })

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Image Thumb :</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.ImageLinkThumb, new { @class = "Leght_2" })&nbsp;<input id="SelectImages" type="button" value="Browses" />

                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Image Detail :</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.ImageLinkDetail, new { @class = "Leght_2" })&nbsp;<input id="SelectImages1" type="button" value="Browses" />
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Price:</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Price, new { @class = "Leght_4" })
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Price Sale:</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.PriceSale, new { @class = "Leght_4", @value = "0" })
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Ghi chú giá:</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.PriceNote, new { @class = "Leght_2" })
                </div>
            </div>

            <div class="tr_1">
                <div class="left_tr1"><span>VAT:</span></div>
                <div class="Right_tr1">
                    @Html.RadioButtonFor(p => p.Vat, "1", new { @id = "Vat1", @checked = "True" }) : Yes
               @Html.RadioButtonFor(p => p.Vat, "0", new { @id = "Vat2" }): No
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Warranty Time:</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Warranty, new { @class = "txtWarraty", @Type = "number", @value = "1" })@Html.TextBoxFor(p => p.Visit, new { @class = "txtWarraty", @Type = "number", @style = "opacity:0" })
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Tuổi thọ:</span></div>
                <div class="Right_tr1">
                    @Html.TextBoxFor(p => p.Time, new { @class = "Leght_2" })
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Origin:</span></div>
                <div class="Right_tr1">
                    @Html.RadioButtonFor(p => p.Address, "1", new { @id = "Origin", @checked = "True" }) : Yes
               @Html.RadioButtonFor(p => p.Address, "0", new { @id = "Origin" }): No
                
                </div>
            </div>
            <div class="tr_1">
                <div class="left_tr1"><span>Transport:</span></div>
                <div class="Right_tr1">
                    @Html.RadioButtonFor(p => p.Transport, "1", new { @id = "Transport", @checked = "True" }) : Yes
                    @Html.RadioButtonFor(p => p.Transport, "0", new { @id = "Transport" }): No
               
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Access:</span></div>
                    <div class="Right_tr1">
                        @Html.TextAreaFor(p => p.Access, new { @class = "Leght_6" })
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Sale:</span></div>
                    <div class="Right_tr1">
                        @Html.TextAreaFor(p => p.Sale, new { @class = "Leght_6" })
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1">
                        <span>Ord:</span>
                    </div>
                    <div class="Right_tr1">
                        @Html.TextBoxFor(p => p.Ord, new { @class = "txtWarraty" })

                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Status:</span></div>
                    <div class="Right_tr1">
                        @Html.RadioButtonFor(p => p.Status, true, new { @id = "Status"}) : Yes
                @Html.RadioButtonFor(p => p.Status, false, new { @id = "Status" }): No
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Active:</span></div>
                    <div class="Right_tr1">

                        @Html.RadioButtonFor(p => p.Active, true, new { @id = "Active"}) : Yes
                @Html.RadioButtonFor(p => p.Active, false, new { @id = "Active" }): No 
               
                  
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Product New</span></div>
                    <div class="Right_tr1">
                        @Html.RadioButtonFor(p => p.New, true, new { @id = "ViewHomes" }) : Yes
                        @Html.RadioButtonFor(p => p.New, false, new { @id = "ViewHomes"  }): No


                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>View Homes:</span></div>
                    <div class="Right_tr1">
                        @Html.RadioButtonFor(p => p.ViewHomes, true, new { @id = "ViewHomes" }) : Yes
                 @Html.RadioButtonFor(p => p.ViewHomes, false, new { @id = "ViewHomes" }): No
                
                  
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Title:</span></div>
                    <div class="Right_tr1">
                        @Html.TextBoxFor(p => p.Title, new { @class = "Leght_2" })
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Keyword:</span></div>
                    <div class="Right_tr1">
                        @Html.TextAreaFor(p => p.Keyword, new { @class = "Leght_6" })
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1"><span>Tabs:</span></div>
                    <div class="Right_tr1">
                        @Html.TextAreaFor(p => p.Tab, new { @class = "Leght_6" })
                    </div>
                </div>
                <div class="tr_1">
                    <div class="left_tr1">
                    </div>
                    <div class="Right_tr1">
                        <button type="submit" id="btnAdd" name="btnAdd" class="btnAdd">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<script type="text/javascript">

    //$("input").keypress(function () {
    $(document).ready(function () {
        $("#drMenu").change(function () {
            //your code            

            var idCate = $("#drMenu").val();

            //alert(searchString);

            $.post("/Productad/Manufactures", { "idCate": idCate },
                function (data) {
                    $('.Aler_Manu').html(data);
                });

            //
        });
        $('#Name').keyup(function () {
            var text = $(this).val();
        
            // alert(text);
            $.post("/Productad/CheckValue", { "text": text },
                function (data) {
                    $('.Aler_ttxtName').html(data);
                    //$(".alert").replaceWith("<div class='alert alert-info'>" + data.chuoi + "</div>");

                });
        });
    });



</script>
<script type="text/javascript">
    $(function () {
        $("#SelectImages").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#ImageLinkThumb").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#SelectImages1").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#ImageLinkDetail").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Content');
    });

</script>
 
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Parameter');
    });

</script>
